@font-face
    font-family: 'Circular Std'
    font-style: normal
    font-weight: 450
    src: url('../fonts/Circular Std Book.ttf') format('truetype')
    font-display: swap

@font-face
    font-family: 'Circular Std'
    font-style: normal
    font-weight: 500
    src: url('../fonts/Circular Std Medium.ttf') format('truetype')
    font-display: swap

@font-face
    font-family: 'Circular Std'
    font-style: normal
    font-weight: 700
    src: url('../fonts/Circular Std Bold.ttf') format('truetype')
    font-display: swap

@font-face
    font-family: 'Circular Std'
    font-style: normal
    font-weight: 900
    src: url('../fonts/Circular Std Black.ttf') format('truetype')
    font-display: swap

@font-face
    font-family: 'Florencesans SC Exp'
    font-style: normal
    font-weight: 400
    src: url('../fonts/FlorencesansSC-Regular.woff') format('woff')
    font-display: swap

@font-face
    font-family: 'Florencesans SC Exp'
    font-style: normal
    font-weight: 700
    src: url('../fonts/FlorencesansSC-Bold.woff') format('woff')
    font-display: swap

@font-face
  font-family: 'PresicavHv'
  font-style: normal
  font-weight: 400
  src: url('../fonts/PresicavHv-Regular.ttf') format('truetype')
  font-display: swap
